@use '../../Styles/partials/variables' as *;
@use '../../Styles/partials/mixins' as *;

.comment-input {
    padding: 0 1rem;

    @include tablet {
        padding: $padding-tab;
    }

    @include desktop {
        padding: 0;
    }
   
    &__count{
        @include text-demi($subheader-mob);
        color: $primary-txt;
       
        @include tablet {
            margin-bottom: 0;
        }
    }

    &__underline {
        border-bottom: $line-divider;
    }

    &__avatar {
        width: $avatar-mob;
        height: $avatar-mob;
        border-radius: $avatar-border-radius;
        margin: 1.5rem 1rem 0 0;

        @include tablet {
            margin-right: 0;
            width: $avatar-tab;
            height: $avatar-tab;
        }
    }

    &__comment-section {
        
        @include tablet {
            display: flex;
            align-items: flex-end;
        }
    }

    &__container {
        padding: 1rem 0;
        display: flex;

        @include tablet {
            padding: 1.5rem 0;
        }
    }

    &__input-container {
        display: flex;
        flex-direction: column;
    }

    &__subheader {
        color: $secondary-txt;
        @include text-demi($subheader-mob);
        margin-bottom: 0.5rem;

        @include tablet {
            margin-left: 1.5rem;
            font-size: $subheader;
        }
    }

    &__button-container {
        display: flex;
        justify-content: center;
    }
}

#addComment {
    padding: 1rem 1rem 4rem 1rem;
    margin-bottom: 1.2rem;
    @include form-style;

    @include tablet {
        padding: $form-padding;
        height: $form-height;    
        width: 29.2rem;    
        margin: 0 1.5rem;
    }

    @include desktop {
        width: 24rem;
    }
}

