@use '../../Styles/partials/variables' as *;
@use '../../Styles/partials/mixins' as *;

.comment-input {
    padding: 0 1rem;
   

    &__count{
        @include text-demi($subheader-mob);
        color: $primary-txt;
    }

    &__underline {
        border-bottom: $line-divider;
    }

    &__avatar {
        width: $avatar-mob;
        height: $avatar-mob;
        border-radius: $avatar-border-radius;
        margin: 1.5rem 1rem 0 0;
    }

    &__container {
        display: flex;
        justify-content: center;
        padding: 1rem 0;
    }

    &__input-container {
        display: flex;
        flex-direction: column;
    }

    &__subheader {
        color: $secondary-txt;
        @include text-demi($subheader-mob);
        margin-bottom: 0.5rem;
    }

    &__button-container {
        display: flex;
        justify-content: center;
    }
}

#addComment {
    padding: 1rem 1rem 4rem 1rem;
    margin-bottom: 1.2rem;
    @include form-style;
}

