@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.video-list {
    padding: 0 1rem;

    &__container {
        display: flex;
        align-items: center;
    }

    &__thumbnail {
        // max-height: 9vh;
        // min-height: 12vh;
        max-width:24vw;
        min-width: 35vw;  
        object-fit: cover;
        background-color: $avatar-placeholder;  
        aspect-ratio: 16 / 9;
        // max-height: 63vh;
        // object-fit: contain;
    }

    &__info {
        padding-left: 1rem;
    }

    &__video-title {
        @include text-demi($body-txt-mob);
        color: $primary-txt;
    }

    &__channel {
        @include text-regular($body-txt-mob);
        color: $primary-txt;
    }
} 