@use '../../Styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

button {
    height: $btn-height;
    background-color: $primary-active-color;
    border-radius: $border-radius;
    border: none;
    color: $CTA-txt;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    @include text-demi($btn-txt-mob);

    &:hover {
        background-color: $hover-state;
    }
}

.button__header {
    width: 90vw;
    background-image: url('../../assets/images/icons/upload.svg');

    @include tablet{ 
        font-size: $btn-label;
        width: $btn-width;
        padding: 0 $tab-btn-padding;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.button__comment {
    font-size: $btn-txt-mob;
    width: 74vw;
    margin-top: 0;
    background-image: url('../../assets/images/icons/add_comment.svg');

    @include tablet {
        font-size: $btn-label;
        width: $btn-width;
    }
}

.button__upload-video {
    font-size: $btn-txt-mob;
    margin-top: 0;
    background-image: url('../../assets/images/icons/upload.svg');
    margin-top: 1rem;
    width: 100%;

    @include tablet {
        width: $btn-width;
        margin-top: 1.5rem;
        font-size: $btn-label;
    }
}

a {
    text-decoration: none;
}


