@use '../../Styles/partials/variables' as *;


button {
    margin-top: 1rem;
    height: $btn-height;
    background-color: $primary-active-form;
    border-radius: $border-radius;
    border: none;
    color: $CTA-txt;
    background-image: url('../../assets/images/icons/upload.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
}