@use '../partials/variables' as *;

@mixin mobile {
  @media screen and (min-width: 20rem) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 48rem) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 80rem) {
    @content;
  }
}

@mixin text-regular($font-size) {
    font-size: $font-size;
    font-weight: 400;
  }
  
  @mixin text-demi($font-size) {
    font-size: $font-size;
    font-weight: 600;
  }
  
  @mixin text-bold($font-size) {
    font-size: $font-size;
    font-weight: 700;
  }

  @mixin form-style {
    box-sizing: border-box;
    border: 1px solid $form-outline;
    background-color: $form-background; 
    border-radius: $border-radius;
  }

  @mixin button-style {
    height: $btn-height;
    background-color: $primary-active-form;
    border-radius: $border-radius;
    border: none;
    color: $CTA-txt;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
  }