//Primary colors
$primary-txt:#323232;
$primary-label: #afafaf;
$primary-active-form:#0095ff;
$background: #ffffff;
$CTA-txt: #ffffff;

//Secondary colors
$secondary-txt: #afafaf;
$video-component: #000000;
$hover-state: #0065AD;
$divider-line: #e1e1e1;
$form-outline: #e1e1e1;
$form-background: #fafafa;
$avatar-placeholder: #e1e1e1;

//Other styles
$btn-height: 2.5rem;
$border-radius: 4px;
$line-diviver: 1px solid $divider-line;
$avatar-border-radius: 50%;


//Styles for mobile 
$mobi-padding: 1rem;
$avatar-mob: 2.25rem;



//Styles for desktop & tablet
$avatar-tab: 2.5rem;
$btn-width: 9.375rem;
$tab-btn-padding: 2rem;

//Mobile text styles
$page-header-mob: 1.5rem;
$section-header-mob: 0.75rem;
$subheader-mob: 0.813rem;
$body-txt-mob: 0.813rem;
$btn-txt-mob: 0.625rem;

//Desktop & tablet text styles
$page-header: 2.063rem;
$section-header: 0.75rem;
$subheader: 0.875rem;
$body-txt: 0.875rem;
$btn-label: 0.75rem;

//Line height mobible
$line-h-body-mob: 1.125rem; 
$line-h-subheader-mob: 1.125rem;
$line-h-secheader-mob: 1.25rem;
$line-h-btn-mob: 1.25rem;

//Line height desktop & tablet 
$line-height-body: 1.125rem;
$line-h-subheader: 1.125rem;
$line-h-secheader: 1.25rem;
$line-h-btn: 1.25rem;