//Primary colors
$primary-txt:#323232;
$primary-label: #afafaf;
$primary-active-form:#0095ff;
$background: #ffffff;
$CTA-txt: #ffffff;



//Secondary colors
$secondary-txt: #afafaf;
$video-component: #000000;
$hover-state: #0065AD;
$divider-line: #e1e1e1;
$form-outline: #e1e1e1;
$form-background: #fafafa;

$btn-height: 2.5rem;
$border-radius: 4px;

//mobile text styles
$page-header-mob: 1.5rem;
$section-header-mob: 0.75rem;
$Subheader-mob: 0.813rem;
$body-txt-mob: 0.813rem;
$btn-txt-mob: 0.625rem;

// desktop & tablet text styles
$page-header: 2.063rem;
$section-header: 0.75rem;
$subheader: 0.875rem;
$body-txt: 0.875rem;
$btn-label: 0.75rem 
