@use '../../Styles/partials/variables' as *;
@use '../../Styles/partials/mixins' as *;

.comment {

    @include desktop {
        padding: 0;
    }

    &__divider-container {
        padding: 0 1rem;

        @include tablet {
            padding: $padding-tab;
        }

        @include desktop {
            padding: 0;
        }
    }

    &__divider {
        border-bottom: $line-divider;
    }

    &__last-divider {
        border-bottom: $line-divider;

        @include desktop {
            display: none;
        }
    }

    &__container {
        display: flex;
        margin-top: 1rem;
       

        @include tablet {
            padding: $pad-top-bottom-tab;
            margin-top: 0;
        }
    }

    &__avatar {
        width: $avatar-mob;
        height: $avatar-mob;
        border-radius: $avatar-border-radius;
        background-color: $avatar-placeholder;
        border: $line-divider;
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: auto;
        margin-right: 1rem;

        @include tablet {
            width: $avatar-tab;
            height: $avatar-tab;
            margin-right: 1.5rem;
            margin-left: 5px;
        }

        @include desktop {
            margin-left: 0;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__username {
        @include text-demi($body-txt-mob);
        color: $primary-txt;

        @include tablet {
            font-size: $body-txt;
        }
    }

    &__date {
        @include text-regular($body-txt-mob);
        color: $secondary-txt;

        @include tablet {
            font-size: $body-txt;
        }
    }

    &__content {
        @include text-regular($body-txt-mob);
        line-height: $line-h-body-mob;
        color: $primary-txt;

        @include tablet {
            font-size: $body-txt;
            line-height: $line-height-body;
        }

        @include desktop {
            margin-bottom: 0;
        }
    }

    &__input-container {
        
        @include desktop {
            padding-right: 1.5rem;
        }
    }
}