@use '../../Styles/partials/variables' as *;
@use '../../Styles/partials/mixins' as *;

.video {
    &__source {
        width: 100vw;
        padding-top: $mobi-padding;
    }

    &__title-container {
        padding: 0 1rem;
    }

    &__title {
        padding: 1.5rem 0 1rem 0;
        @include text-demi($page-header-mob);
        color: $primary-txt;
        margin: 0;
    }

    &__details-container {
        display: flex;
        justify-content: space-between;
        padding: 1rem 3rem 1rem 0;
        border-bottom: $line-divider;
        border-top: $line-divider;
    }

    &__details {
        display: flex;
        flex-direction: column;
    }

    &__info {
        padding: 0.5rem;
    }

    &__description {
        @include text-regular($body-txt-mob);
        line-height: $line-h-body-mob;
    }
}   

