@use '../../Styles/partials/variables' as *;
@use '../../Styles/partials/mixins' as *;

#search {
    flex: 1;
    background-image: url('../../assets/images/icons/search.svg');
    background-position: 10px 10px; 
    padding: 0.75rem 1.25rem 0.75rem 2.5rem;
    background-repeat: no-repeat;
    font-size: $body-txt-mob;
    @include form-style;
    margin: 1rem 0;

    @include tablet {
        width: 15rem;
    }
}

::placeholder {
    color: $primary-txt;
}

.header {
    margin-top: 1rem;

    @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    @include desktop {
        justify-content: space-around;
    }

    &__logo {
        display: flex;
        justify-content: center;
        height: 1.56rem;
    }

    &__search-bar {
        display: flex;
        align-items: center;
        margin-top: 0;
    }

    &__avatar {
        width: $avatar-mob;
        height: $avatar-mob;
        border-radius: 50%;

        &--mobile {
            opacity: 1;
            margin: 1rem 0 1rem 1.2rem;

            @include tablet {
                opacity: 0;
                height: 0;
                margin: 0;
            }
        }

        &--tablet {
            opacity: 0;
            height: 0;

            @include tablet {
                opacity: 1;
                height: $avatar-tab;
                width: $avatar-tab;
                margin: 0 0 0 1rem;
            }
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;

        @include tablet {
            padding: 0;
            margin-left: 4.5rem;
        }
    }
}
