@use '../../Styles/partials/variables' as *;
@use '../../Styles/partials/mixins' as *;

.video {
    &__source {
        width: 100vw;
        margin-top: $mobi-padding;

        @include tablet {
            padding: $padding-tab;
            background-color: $video-component;
        }
    }
}   

