@use './Styles/partials/global' as *;
@use './styles/partials/mixins' as *;
@use './styles/partials/variables' as *;

@media (min-width: 80rem) {
    .video-data {
        display: flex;
        padding: 0 8rem;
    
        &__container {
            flex: 2;
            border-right: $line-divider;
        }

        &__side-bar {
            flex: 1;
            margin-top: 1.5rem;
        }
    }
}

