@use '../../Styles/partials/variables' as *;
@use '../../Styles/partials/mixins' as *;

.upload-video {
    padding: $mobi-padding;
    border-top: $line-divider;
    margin-top: 1rem;
    padding: 1.5rem 1rem 1rem 1rem;

    @include tablet {
        margin-top: 0;
        padding: $padding-tab;
    }

    @include desktop{
        padding: 0 11.5rem;
    }

    &__page-header {
        @include text-demi($page-header-mob);
        color: $primary-txt;
        margin: 0;
        padding-bottom: 1rem;

        @include tablet {
            padding: $pad-top-bottom-tab;
            font-size: $page-header;
        }

        @include desktop {
            padding: 2rem 0;
        }
    }

    &__subheader {
        @include text-demi($subheader-mob);
        color: $secondary-txt;

        @include tablet {
            font-size: $subheader;
        }
    }

    &__thumbnail {
        width: 100%;
        border-radius: $border-radius;
        background-color: $video-background;

        @include tablet {
            width: 50%;
        }

        @include desktop {
            width: 21rem;
        }
    }

    &__video-thumbnail {
        display: flex;
        flex-direction: column;
    }

    &__main-section {
        display: flex;
        flex-direction: column;

        @include tablet {
            border-bottom: $line-divider;
            border-top: $line-divider;
            flex-direction: column;
            padding: $pad-top-bottom-tab;
        }

        @include desktop {
            gap: 1.5rem;
            flex-direction: row;
            padding: 1rem 0 1.5rem 0;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-grow: 1;
        }
    }

    &__title-container {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
    }

    &__description-container {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;

        @include tablet {
            margin-bottom: 0.5rem;
            padding-top: 1.5rem;
        }

        @include desktop {
            padding-top: 1.5rem;
        }
    }

    &__form-title {
        @include text-demi($subheader-mob);
        color: $secondary-txt;
        padding-bottom: 5px;

        @include tablet {
            font-size: $subheader;
        }
    }

    &__btn-container {
        display: flex;
        flex-direction: column;  

        @include tablet {
            flex-direction: row;
            justify-content: flex-end;
            align-items: baseline;
            gap: 5rem;
        }

        @include desktop {
            margin-top: 5px;
        }
    }

    &__cancel {
        @include text-demi($body-txt-mob);
        color: $primary-active-color;
        text-align: center;
        margin-top: 2rem;

        @include tablet {
            font-size: $body-txt;
            order: -1;
        }
    }

}

#videoTitle {
    @include form-style;
    height: $form-height-mob;
    padding: $form-padding-mob;
    @include text-regular ($body-txt-mob);

    @include tablet {
        height: $form-height;
        padding: $form-padding;
        font-size: $body-txt;
    }
}

#videoDescription {
    @include form-style;
    padding: 0.75rem 0.75rem 4rem 0.75rem;
    @include text-regular ($body-txt-mob);

    @include tablet {
        font-size: $body-txt;
    }
}
