@use '../../Styles/partials/variables' as *;
@use '../../Styles/partials/mixins' as *;

.upload-video {
    padding: $mobi-padding;
    border-top: $line-divider;
    margin-top: 1rem;

    @include tablet {
        margin-top: 0;
        padding: $padding-tab;
    }

    @include desktop{
        padding: 0 11.5rem;
    }

    &__page-header {
        @include text-demi($page-header-mob);
        color: $primary-txt;

        @include tablet {
            padding: $pad-top-bottom-tab;
            margin: 0;
        }
    }

    &__subheader {
        @include text-demi($subheader-mob);
        color: $secondary-txt;
    }

    &__thumbnail {
        width: 100%;
        border-radius: $border-radius;
        background-color: $video-background;

        @include tablet {
            width: 50%;
        }

        @include desktop {
            width: 30vw;
        }
    }

    &__video-thumbnail {
        display: flex;
        flex-direction: column;
    }

    &__main-section {
        border-bottom: $line-divider;
        border-top: $line-divider;
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: column;
            padding: $pad-top-bottom-tab;
        }

        @include desktop {
            gap: 1.5rem;
            flex-direction: row;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-grow: 1;
        }
    }

    // &__form-section {
    //     @include tablet {
    //         margin-bottom: 1.5rem;
    //     }
    // }

    &__title-container {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
    }

    &__description-container {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;

        @include tablet {
            margin-bottom: 1.5rem;
        }
    }

    &__form-title {
        @include text-demi($subheader-mob);
        color: $secondary-txt;
        padding-bottom: 5px;
    }

    &__publish-btn {
        display: flex;
        flex-direction: column;  

        @include tablet {
            flex-direction: row;
            justify-content: flex-end;
            align-items: baseline;
            gap: 5rem;
            margin-top: 1.5rem;
        }
    }

    &__cancel {
        @include text-demi($body-txt-mob);
        color: $primary-active-color;
        text-align: center;

        @include tablet {
            order: -1;
        }
    }

}

#videoTitle {
    @include form-style;
    height: $form-height-mob;
    padding: $form-padding-mob;
}

#videoDescription {
    @include form-style;
    height: $form-height-mob;
    padding: 1rem 0.75rem 3rem 0.75rem;
}
